<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!--Console target="SYSTEM_OUT"-->
            <!--PatternLayout pattern="%d{HH:mm:ss} %-5level %class.%method{36} - %msg%n"/-->
        <!--/Console-->
        <File name = "File" fileName = "target/logs/calculator.log">
            <PatternLayout>
                <Pattern>
                    %d %p %c{2} {%t} %m%n
                </Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <!--AppenderRef ref="Console"/-->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>